.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  padding: 0 100px;
  background-color: #0d0d0d;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  height: 80px;
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.navbar-title {
  text-decoration: none;
  color: white;
}

.links {
  display: flex;
  align-items: center;
}

.shopping-cart {
  position: relative;
}

.cart-prod-nr {
  height: 30px;
  width: 30px;
  font-size: 14px;

  position: absolute;
  top: 10px;
  right: 88px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 50px;
}
